<div class="container" dir="rtl">
    <div class="row justify-content-center" style="margin-top: 1%; margin-bottom: 4%;">
        <div class="col-sm-5 " style="padding: 1%;">
            <div class="row justify-content-center head">{{curProf.position}}</div>
            <div class="row  justify-content-center ">
                <div class="bottom-border"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-right" style="margin-bottom: 5%;">
        <div class="col-sm-4">
            <div class="row personal">
                البيانات الشخصية
            </div>
            <div class="row">
                <div class="bottom-border" style="width: 50%;"></div>
            </div>
        </div>
    </div>
    <div class="row cart">
        <div class="image-back">

        </div>
        <div class="image">
            <img [src]="curProf.img" alt="">
        </div>
        <div class="col-sm-12 rows">
            <div class="row">
                <div class="col-sm-3 right">
                    الاسم بالكامل
                </div>
                <div class="col-sm-6 left">
                    {{curProf.name}}
                </div>
            </div>
        </div>
        <div class="col-sm-12 rows">
            <div class="row">
                <div class="col-sm-3 right">
                    الوظيفة الحالية
                </div>
                <div class="col-sm-6 left">
                    {{curProf.position}}
                </div>
            </div>
        </div>
        <div class="col-sm-12 rows">
            <div class="row">
                <div class="col-sm-3 right">
                    مجال التخصص العام
                </div>
                <div class="col-sm-6 left">
                    {{curProf.position}}
                </div>
            </div>
        </div>
        <div class="col-sm-12 rows">
            <div class="row">
                <div class="col-sm-3 right">
                    مجال التخصص الدقيق
                </div>
                <div class="col-sm-6 left">
                    {{curProf.degree}}
                </div>
            </div>
        </div>
        <div class="col-sm-12 rows">
            <div class="row">
                <div class="col-sm-3 right">
                    البريد الإلكتروني
                </div>
                <div class="col-sm-6 left">
                    {{curProf.id}}
                </div>
            </div>
        </div>
        <div class="col-sm-12 rows">
            <div class="row">
                <div class="col-sm-3 right">
                    الصفحة الإلكترونية
                </div>
                <div class="col-sm-6 left">
                    {{curProf.name}}
                </div>
            </div>
        </div>
        <div class="col-sm-12 rows">
            <div class="row">
                <div class="col-sm-3 right">
                    عضوية الجمعيات
                </div>
                <div class="col-sm-6 left">
                    {{curProf.depart}}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-right" style="margin-bottom: 3%;">
        <div class="col-sm-4">
            <div class="row personal">
                المؤهلات الدراسية
            </div>
            <div class="row">
                <div class="bottom-border" style="width: 50%;"></div>
            </div>
        </div>
    </div>
    <div class="row " style="margin-bottom: 10%; text-align: right; font-size: 25px; padding-right: 0;">
        <div class="col-sm-12" style="padding-right: 0;">
            <div class="row content">
                <div class="col-sm-11 pr-0">
                    شهادة الحضانة بتفوق من مدرسة النهضة الحديثة
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-11 pr-0">
                    شهادة الابتدائية بتفوق من مدرسة النهضة الحديثة
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-11 pr-0">
                    شهادة الإعداداية بتفوق من مدرسة الحسينية الإعدادية المشتركة بنين
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-11 pr-0">
                    شهادة الثانوية ببراعة من مدرسة الشهيد عبد المنعم رياض الله يرحمه
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-11 pr-0">
                    فى انتظار شهادة العبودية من كلية هندسة إلكترونيات منوف بجامعة المنوفية
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-right" style="margin-bottom: 3%;">
        <div class="col-sm-4">
            <div class="row personal">
                التدرج الوظيفي
            </div>
            <div class="row">
                <div class="bottom-border" style="width: 50%;"></div>
            </div>
        </div>
    </div>
    <div class="row " style="margin-bottom: 10%; text-align: right; font-size: 25px; padding-right: 0;">
        <div class="col-sm-12" style="padding-right: 0;">
            <div class="row content">
                <div class="col-sm-11 pr-0">
                    شهادة الحضانة بتفوق من مدرسة النهضة الحديثة
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-11 pr-0">
                    شهادة الابتدائية بتفوق من مدرسة النهضة الحديثة
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-11 pr-0">
                    شهادة الإعداداية بتفوق من مدرسة الحسينية الإعدادية المشتركة بنين
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-11 pr-0">
                    شهادة الثانوية ببراعة من مدرسة الشهيد عبد المنعم رياض الله يرحمه
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-11 pr-0">
                    فى انتظار شهادة العبودية من كلية هندسة إلكترونيات منوف بجامعة المنوفية
                </div>
            </div>
        </div>
    </div>


</div>
