<div class="col-sm-12" dir="rtl" *ngIf="!load">
    <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
        <div class="row ">
            <div class="col-sm-3" style="text-align: right;">
                <label for="title">عنوان المادة</label> :
            </div>
            <input type="text" formControlName="title" id="title" class="col-sm-7 form-control">
            <span class="error col-sm-2" *ngIf="subjectForm.get('title').invalid && subjectForm.get('title').touched">
              <span class="error" *ngIf="subjectForm.get('title').errors['required']">
                رجاء أدخل العنوان
              </span>

            </span>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4" style="text-align: right;">
                <label for="codeAr">كود المادة باللغة العربية</label> :
            </div>
            <input type="text" formControlName="codeAr" id="codeAr" class="form-control col-sm-6">
            <span class="error col-sm-2" *ngIf="subjectForm.get('codeAr').invalid && subjectForm.get('codeAr').touched">
            <span class="error" *ngIf="subjectForm.get('codeAr').errors['required']">
              رجاء أدخل الكود العربي
            </span>

            </span>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4" style="text-align: right;">
                <label for="codeEn">كود المادة باللغة الإنجليزية</label> :
            </div>
            <input type="text" formControlName="codeEn" id="codeEn" class="form-control col-sm-6">
            <span class="error col-sm-2" *ngIf="subjectForm.get('codeEn').invalid && subjectForm.get('codeEn').touched">
              <span class="error" *ngIf="subjectForm.get('codeEn').errors['required']">
                رجاء أدخل الكود الإنجليزي
              </span>

            </span>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3" style="text-align: right;">
                <label for="numOfHours">عدد ساعات المادة</label>:
            </div>
            <input type="number" class="form-control col-sm-7" id="numOfHours" formControlName="numOfHours" min="1">


            <span class="error col-sm-2" *ngIf="subjectForm.get('numOfHours').invalid && subjectForm.get('numOfHours').touched">
          <span class="error" *ngIf="subjectForm.get('numOfHours').errors['required']">
            رجاء أدخل عدد الساعات
          </span>

            </span>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3" style="text-align: right;">
                <label for="maxDegree">الدرجة العظمى</label>:
            </div>
            <input type="number" class="form-control col-sm-7" id="maxDegree" formControlName="maxDegree" min="50">


            <span class="error col-sm-2" *ngIf="subjectForm.get('maxDegree').invalid && subjectForm.get('maxDegree').touched">
        <span class="error" *ngIf="subjectForm.get('maxDegree').errors['required']">
          رجاء أدخل الدرجة العظمى
        </span>

            </span>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3" style="text-align: right;">
                <label for="minDegree">الدرجة الصغرى</label>:
            </div>
            <input type="number" class="form-control col-sm-7" id="minDegree" formControlName="minDegree" min="25">


            <span class="error col-sm-2" *ngIf="subjectForm.get('minDegree').invalid && subjectForm.get('minDegree').touched">
        <span class="error" *ngIf="subjectForm.get('minDegree').errors['required']">
          رجاء أدخل الدرجة الصغرى
        </span>

            </span>
        </div>
        <br>
        <div class="row ">
            <div class="col-sm-3" style="text-align: right;">
                <label for="content">محتوى المادة</label>:
            </div>
            <input type="text" formControlName="content" id="content" class="col-sm-7 form-control">
            <span class="error col-sm-2" *ngIf="subjectForm.get('content').invalid && subjectForm.get('content').touched">
            <span class="error" *ngIf="subjectForm.get('content').errors['required']">
              رجاء أدخل المحتوى
            </span>

            </span>
        </div>
        <br>
        <div class="row" formArrayName="dependOn">
            <div class="col-sm-12">
                <div class="row " style="text-align: right;">
                    <div class="col-sm-3">
                        <label>تعتمد على </label>:
                    </div>
                    <div class="col-sm-4" style="padding: 0;">
                        <p class="search">
                            * اضغط على إضافة مادة و ابحث بكود المادة الإنجليزي
                        </p>
                    </div>
                    <div class="col-sm-3 " style="padding-left: 0;">
                        <button type="button" class="add" (click)="addDependant()">
                          <i class="fa fa-plus" style="margin-left:4px;"></i>
                          إضافة مادة
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3 new" *ngFor="let sub of subjectForm.get('dependOn').controls; let i =index">
                        <input type="text" class="form-control col-sm-10" [formControlName]="i" placeholder="كود المادة" style="float: right;">
                        <i class="fa fa-times  col-sm-2" style=" cursor: pointer;" (click)="deleteDepend(i)"></i>
                        <br>
                        <br>
                    </div>
                </div>
            </div>


        </div>
        <br>
        <div class="row" formArrayName="departments">
            <div class="col-sm-12">
                <div class="row " style="text-align: right;">
                    <div class="col-sm-3">
                        <label>الأقسام </label>:
                    </div>
                    <div class="col-sm-4" style="padding: 0;">
                        <p class="search">
                            * اضغط على إضافة قسم و ابحث باسم القسم
                        </p>
                    </div>
                    <div class="col-sm-3 " style="padding-left: 0;">
                        <button type="button" class="add" (click)="addDepartment()">
                        <i class="fa fa-plus" style="margin-left:4px;"></i>
                        إضافة قسم
                      </button>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3 new" *ngFor="let sub of subjectForm.get('departments').controls; let i =index">
                        <input type="text" class="form-control col-sm-10" [formControlName]="i" placeholder="اسم القسم" style="float: right;">
                        <i class="fa fa-times  col-sm-2" style=" cursor: pointer;" (click)="deleteDepartment(i)"></i>
                        <br>
                        <br>
                    </div>
                </div>
            </div>


        </div>
        <br>

        <div class="form-group row justify-content-center" style="margin-top:8%;" *ngIf="!edit ; else inEdit">
            <button type="submit" class="submit-btn" [disabled]="subjectForm.invalid">تأكيد</button>
        </div>
        <ng-template #inEdit>
            <div class="form-group row justify-content-between" style="margin-top:8%;">
                <button type="submit" class="submit-btn" [disabled]="subjectForm.invalid">تعديل</button>
                <button type="button" class="btn btn-danger" (click)="ondelete()">مسح</button>
            </div>
        </ng-template>


    </form>

</div>

<app-loader *ngIf="load"></app-loader>
<app-confirm-deletion *ngIf="delete" content="المادة" (cancel)="onCancel()" (res)="deleteSubject(id)"></app-confirm-deletion>
<!-- <div class="col-sm-7 drop-down-select" style="padding: 0;">

  <div (click)="showMenu()">
      <input id="input" type="text" placeholder="اختر المواد">
      <i class="fa fa-arrow-down"></i>
  </div>

  <ul class="drop-down-options" id="options">
      <li>

          <input type="checkbox" class="check" id="check" value="a">
          <label for="check" class="">a</label>


      </li>
      <li><input type="checkbox" value="b">b</li>
      <li><input type="checkbox" value="c">c</li>
  </ul>

</div> -->
