.backdrop {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: #fff;
}

$pos13top: 28vh;
$pos1left: 26vw;
$pos3left: 38vw;
$pos24left: 32vw;
$pos2top: 18vh;
$pos4top: 38vh;
$circuleWidth: 3vw;
.load {
    position: fixed;
    top: 15vh;
    left: 14vw;
    width: 70vw;
    height: 70vh;
    background-color: #fff;
    z-index: 250;
    .d1 {
        position: absolute;
        top: 28vh;
        left: 26vw;
        border-radius: 100%;
        background-color: black;
        width: $circuleWidth;
        height: $circuleWidth;
        animation: move1 3s linear infinite;
    }
    .d2 {
        position: absolute;
        top: 18vh;
        left: 32vw;
        border-radius: 100%;
        background-color: red;
        width: $circuleWidth;
        height: $circuleWidth;
        animation: move2 3s linear infinite;
    }
    .d3 {
        position: absolute;
        top: 28vh;
        left: 38vw;
        border-radius: 100%;
        background-color: rgb(3, 170, 162);
        width: $circuleWidth;
        height: $circuleWidth;
        animation: move3 3s linear infinite;
    }
    .d4 {
        position: absolute;
        top: 38vh;
        left: 32vw;
        border-radius: 100%;
        background-color: rgb(176, 228, 55);
        width: $circuleWidth;
        height: $circuleWidth;
        animation: move4 3s linear infinite;
    }
}

@keyframes move1 {
    25% {
        top: $pos2top;
        left: $pos24left;
    }
    50% {
        top: $pos13top;
        left: $pos3left;
    }
    75% {
        top: $pos4top;
        left: $pos24left;
    }
}

@keyframes move2 {
    25% {
        top: $pos13top;
        left: $pos3left;
    }
    50% {
        top: $pos4top;
        left: $pos24left;
    }
    75% {
        top: $pos13top;
        left: $pos1left;
    }
}

@keyframes move3 {
    25% {
        top: $pos4top;
        left: $pos24left;
    }
    50% {
        top: $pos13top;
        left: $pos1left;
    }
    75% {
        top: $pos2top;
        left: $pos24left;
    }
}

@keyframes move4 {
    25% {
        top: $pos13top;
        left: $pos1left;
    }
    50% {
        top: $pos2top;
        left: $pos24left;
    }
    75% {
        top: $pos13top;
        left: $pos3left;
    }
}