.load {
    position: relative;
    width: 100vw;
    height: 800px;
    background-color: #fff;
    // z-index: 999999999999999950;
    top: 0;
    background-attachment: fixed;
    .d1 {
        position: absolute;
        top: 40%;
        left: 42%;
        border-radius: 100%;
        background-color: black;
        width: 50px;
        height: 50px;
        animation: move1 3s linear infinite;
    }
    .d2 {
        position: absolute;
        top: 30%;
        left: 47%;
        border-radius: 100%;
        background-color: red;
        width: 50px;
        height: 50px;
        animation: move2 3s linear infinite;
    }
    .d3 {
        position: absolute;
        top: 40%;
        left: 52%;
        border-radius: 100%;
        background-color: rgb(3, 170, 162);
        width: 50px;
        height: 50px;
        animation: move3 3s linear infinite;
    }
    .d4 {
        position: absolute;
        top: 50%;
        left: 47%;
        border-radius: 100%;
        background-color: rgb(176, 228, 55);
        width: 50px;
        height: 50px;
        animation: move4 3s linear infinite;
    }
}

@keyframes move1 {
    25% {
        top: 30%;
        left: 47%;
    }
    50% {
        top: 40%;
        left: 52%;
    }
    75% {
        top: 50%;
        left: 47%;
    }
}

@keyframes move2 {
    25% {
        top: 40%;
        left: 52%;
    }
    50% {
        top: 50%;
        left: 47%;
    }
    75% {
        top: 40%;
        left: 42%;
    }
}

@keyframes move3 {
    25% {
        top: 50%;
        left: 47%;
    }
    50% {
        top: 40%;
        left: 42%;
    }
    75% {
        top: 30%;
        left: 47%;
    }
}

@keyframes move4 {
    25% {
        top: 40%;
        left: 42%;
    }
    50% {
        top: 30%;
        left: 47%;
    }
    75% {
        top: 40%;
        left: 52%;
    }
}