<div class="container" style="padding: 0;margin-bottom: 5%;" dir="rtl" *ngIf="!load">
    <div class="row justify-content-center">
        <div class="col-sm-6" style="text-align: center; padding: 2%;">
            <h1>جميع الصلاحيات</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-2 add " style="text-align: right;" (click)="goTo('dash/addPrivilage')">
            <div class="row justify-content-around ">
                <div class="col-sm-3 icon">
                    <i class="fa fa-plus fa-2x" style="margin-left: 10%;"></i>
                </div>
                <div class="col-sm-9 text">
                    <p style="display: inline;">إضافة صلاحية</p>
                </div>
            </div>
        </div>
        <input type="search" style="padding:2.5% ; margin-right: auto; margin-left: auto;" placeholder="ابحث عن  القسم" [(ngModel)]="search" class="col-sm-7 form-control form-control-lg">

        <div class="col-sm-2 b">
            <div class="col-sm-11 back" (click)="goTo('dash')">
                <!-- <i class="fas fa-backspace"></i> -->
                <i class="fa fa-sign-out-alt fa-2x" style="margin-left: 10%;"></i>
            </div>
        </div>
    </div>
    <div class="row table-responsive">
        <div class="col-sm-12" style="padding: 0;">
            <table class="table">
                <thead style="background-color: #14213D; color: #fff;">
                    <tr>
                        <th scope="col" style="border-top-right-radius:5px;">#</th>
                        <th scope="col">الإسم </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of (privilages | depFilter:search); let i = index">

                        <th scope="row"> {{i+1}} </th>
                        <td> {{p.name}} </td>


                    </tr>

                </tbody>
            </table>
            <h1 *ngIf="(privilages| depFilter:search).length <1" style="text-align: center;">
                ! Not Found
            </h1>
        </div>
    </div>
</div>


<app-loader *ngIf="load"></app-loader>