<div style="background-color: #fff;">
    <div class="container" dir="rtl" lang="ar">
        <div class="row justify-content-center">
            <div class="col-sm-6 " style="text-align: center; margin-top: 5%; ">
                <h1 style="padding-bottom: 5px; border-bottom: 2px solid black; width: 40%; margin: auto; font-weight: bold;">
                    أهلا بكم
                </h1>
                <p style="margin-top: 3%;">
                    هنا كلية هندسة الإلكترونيات منوف حيث يرقد الحزلقوم وإخوته
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4  rotating-image ">
                <img class="image" src="../../../assets/images/fee.jpeg" alt="" width="120" height="120">
                <!-- http://i.stack.imgur.com/pC1Tv.jpg -->
            </div>
        </div>
        <div class="row " style="margin-bottom: 4%; position: relative;">
            <div class="col-sm-12 cover-image" style="padding: 0;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgUhXHmjY3ix_gHhMJdXdrmAU9XLdaoAnKIA&usqp=CAU" alt="" width="100%" height="100%">

                <div class="centered" (click)="goTo('feeBuilding')">
                    <p>مبنى الكلية</p>
                </div>
            </div>
        </div>

        <div class="row profile-card">
            <div class="col-sm-3"></div>
            <div class=" profile col-sm-5 " style="margin-bottom: 8%;font-weight: bold; justify-content: center; padding-bottom: 1%;">
                <div class="row  justify-content-center" style="margin-bottom: 3%;">
                    <div class=" col-sm-4">
                        <div class="row ameed justify-content-center">
                            عميد الكلية
                        </div>
                    </div>
                </div>
                <div class="row  prof justify-content-center " style="margin-bottom: 1%;">
                    <div class="col-sm-5">
                        <app-prof-profile-card (click)="goToProfile(ameed.id)" class="col-sm-2" [prof]="ameed"></app-prof-profile-card>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row col-sm-6" style="margin-bottom: 4%;">
          <app-prof-profile-card></app-prof-profile-card>
        </div> -->

        <div class="row " style="margin-bottom: 4%;">
            <div class="col-sm-4">
                <app-about-tabs *ngFor="let tab of tabs ; let i = index" [tab]="tab"></app-about-tabs>

            </div>

            <div class="col-sm-8">
                <app-diplay-content></app-diplay-content>
            </div>
        </div>

    </div>
</div>