<!-- <div class="container" style="margin-top: 5%; margin-bottom: 5%;">
    <div class="row">
        <div class="col-sm-12">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div id="user-data" ngModelGroup="userdata" #userdata="ngModelGroup">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control" ngModel name="username" required #username="ngModel">
                        <span class="error" *ngIf="username.invalid && username.touched">please Enter a valid username</span>
                    </div>



                    <button class="btn btn-primary" (click)="haha()" type="button"> Suggest an Username</button>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
                        <span class="error" *ngIf="email.invalid && email.touched">please Enter a valid username</span>
                    </div>

                </div>
                <div class="form-group" #dis>
                    <label for="secret">Secret Question</label>
                    <select id="secret" class="form-control" [ngModel]="defaultSelection" name="secret">
                      <option value="pet">Your first pet ?</option>
                      <option value="teacher">Your first teacher ?</option>
                    </select>
                    <textarea name="questionReply" [(ngModel)]="answer" rows="3" class="form-control"></textarea>
                    <p class="fprm-control"> your reply:- {{answer}}</p>
                </div>

                <div class="radio" *ngFor="let gender of genders">
                    <label>
                    <input type="radio" name="gender" ngModel required  [value]="gender">    {{gender}}
                  </label>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
                  submit
                </button>
            </form>
        </div>
    </div>
</div> -->




<div class="container" style="margin-top: 5%; margin-bottom: 5%;">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div id="user-data" formGroupName="userData">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control" formControlName="username">
                        <span class="error" *ngIf="signupForm.get('userData.username').invalid && signupForm.get('userData.username').touched">
                          <span class="error" *ngIf="signupForm.get('userData.username').errors['isUsernameForbidden'] == true"> this username is invalid</span>
                        <span class="error" *ngIf="signupForm.get('userData.username').errors['required']"> empty username</span>
                        </span>


                    </div>

                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input type="email" id="email" class="form-control" formControlName="email">
                        <span class="error" *ngIf="signupForm.get('userData.email').invalid && signupForm.get('userData.email').touched">
                          <span class="error"
                          *ngIf="signupForm.get('userData.email').errors['required']"
                          >
                            Empty email
                          </span>
                        <span class="error" *ngIf=" signupForm.get('userData.email').errors['forbiddernEmail']">
                            Forbidden Email
                          </span>
                        </span>

                    </div>
                </div>

                <div class="form-group" formArrayName="hobbies">
                    <h4>Your Hobbies</h4>
                    <button class="btn btn-primary" type="button" (click)="onAddHobby()">Add Hobby</button>
                    <br>
                    <div class="form-group" *ngFor="let hobbyControl of signupForm.get('hobbies').controls;let i = index">
                        <input type="text" class="form-control" [formControlName]="i">
                    </div>
                </div>

                <div class="radio" *ngFor="let gender of genders">
                    <label>
                      <input type="radio" formControlName="gender"  required  [value]="gender">    {{gender}}
                    </label>
                </div>
                <button class="btn btn-success" type="submit" [disabled]='signupForm.invalid'>
                    submit
                  </button>

            </form>
        </div>
    </div>
</div>
