<table class="table" dir="rtl">
    <thead class="hehe white-text">
        <tr>
            <th scope="col">#</th>
            <th scope="col">الاسم</th>
            <th scope="col">الدرجة الوظيفية</th>
            <th scope="col">الحالة الوظيفية</th>
            <th scope="col">القسم</th>
            <th scope="col">الكلية</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of staff ; let i = index">
            <th scope="row">{{i+1}}</th>
            <td> {{s.name}} </td>
            <td> {{s.jobDegree}} </td>
            <td> {{s.jobStatus}} </td>
            <td> {{s.dep}} </td>
            <td> {{s.faculty}} </td>

        </tr>

    </tbody>
</table>
