<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/fee.jpeg" height="30" class="d-inline-block align-top" alt="">
            </a>
        </mdb-navbar-brand>
        <links>
            <app-left-nav></app-left-nav>
            <app-right-nav class="navbar-nav ml-auto"></app-right-nav>

        </links>
    </mdb-navbar>
    <!-- Main -->
    <div class="view intro-2">
        <div class="full-bg-img">
            <div class="mask rgba-blue-light flex-center">
                <div class="container text-center white-text wow fadeInUp">

                </div>
            </div>
        </div>
    </div>
    <!-- /.Main -->
</header>