<header class="h-100" dir="rtl">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg  navbar-dark scrolling-navbar" class="navCss " [containerInside]="false">
        <!-- style="border-left: 1px solid #fff; padding-left: 20px;" -->
        <mdb-navbar-brand>
            <div class="row">
                <div class="col-sm-4">
                    <a class="navbar-brand">
                        <img src="../../../assets/images/fee.jpeg" height="45px" class="d-inline-block align-top" alt="">
                    </a>
                </div>

                <div class="col-sm-8 " style="text-align: right; color: #fff; padding-top: 2%;">
                    <h6>
                        كلية الهندسة الإلكترونية
                    </h6>
                    <h6>
                        جامعة المنوفية
                    </h6>


                </div>
            </div>

        </mdb-navbar-brand>
        <links>
            <app-right-nav></app-right-nav>
            <app-left-nav class="navbar-nav mr-auto"></app-left-nav>
            <!-- <app-right-nav class="navbar-nav mr-auto"></app-right-nav> -->

        </links>
    </mdb-navbar>
    <!-- Main -->

    <!-- /.Main -->
</header>