<div class="container" dir="rtl" lang="ar" style="margin-top: 5%; margin-bottom: 5%;">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email"> البريد الإلكترونى </label> :
                    <input type="email" formControlName="email" id="email" class="form-control">
                    <span class="error" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                      <span class="error" *ngIf="loginForm.get('email').errors['required']">
                        رجاء أدخل البريد الإلكترونى
                      </span>
                    <span class="error" *ngIf="loginForm.get('email').errors['email']">
                          هذا البريد الإلكتروني غير مسموح
                        </span>
                    </span>

                </div>
                <div class="form-group">
                    <label for="password"> كلمة المرور </label> :
                    <input type="password" formControlName="password" id="password" class="form-control">

                    <span class="error" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                      رجاء أدخل كلمة المرور
                    </span>
                </div>
                <div class="form-group">
                    <button type="submit" class="submit-btn" [disabled]="loginForm.invalid">تسجل</button>
                </div>
            </form>
        </div>
    </div>
</div>
