$mainColor: #14213D;
* {
    // font-family: 'Almarai';
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.img {
    // https://drive.google.com/drive/folders/1q3s7S36bDSrc-3GatJw46mnOW9oWhbpo
    // https://image.freepik.com/free-vector/gradient-colored-dynamic-lines-background_52683-65631.jpg
    // https://drive.google.com/file/d/10hLQLaiCmoz0GxtvfHHECulPFtu4K1u1/view?usp=sharing
    background-image: url("../../../../assets/images/15.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-group {
    text-align: center;
    label {
        margin-bottom: 2%;
        font-size: 20px;
        color: #cfcfcf;
        text-transform: uppercase;
    }
    input {
        margin-right: 25%;
        width: 50%;
        padding-bottom: 5px;
        font-size: 16px;
        border: none;
        border-radius: 0;
        outline: none;
        margin-bottom: 4%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
    input:focus {
        box-shadow: none;
    }
    input:focus-within {
        background-color: inherit;
    }
}

.submit-btn {
    // #c96903
    border: 1px solid $mainColor;
    width: 40%;
    padding: 2%;
    // #FF880A
    background-color: $mainColor;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
}

.disabled-btn {
    // #c96903
    border: 1px solid $mainColor;
    width: 40%;
    padding: 2%;
    // #ff890a69
    background-color: #14213db7;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
}

.submit-btn:hover {
    cursor: pointer;
    box-shadow: 0 8px 10px 0 #14213d9c, 0 6px 20px 0 #14213dd5;
    // padding-left: 8%;
    // padding-right: 8%;
    width: 50%;
    transition: all 0.7s linear;
}

.submit-btn:focus,
.disabled-btn {
    outline: 0;
}

.error {
    margin-top: 2%;
    color: red;
    font-size: medium;
}
