<div class="container" style="padding: 0; margin-bottom: 5%;" dir="rtl" *ngIf="!load">
    <div class="row justify-content-center">
        <div class="col-sm-6" style="text-align: center; padding: 2%;">
            <h1>جميع المستخدمين</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-2 add " style="text-align: right;" (click)="goTo('dash/addUser')">
            <div class="row justify-content-around ">
                <div class="col-sm-3 icon">
                    <i class="fa fa-plus fa-2x" style="margin-left: 10%;"></i>
                </div>
                <div class="col-sm-9 text">
                    <p style="display: inline;">إضافة مستخدم </p>
                </div>
            </div>
        </div>
        <input type="search" style="padding:2.5% ; margin-right: auto; margin-left: auto;" placeholder="ابحث عن  المستخدم" [(ngModel)]="search" class="col-sm-7 form-control form-control-lg">

        <div class="col-sm-2 b">
            <div class="col-sm-11 back" (click)="goTo('dash')">
                <!-- <i class="fas fa-backspace"></i> -->
                <i class="fa fa-sign-out-alt fa-2x" style="margin-left: 10%;"></i>
            </div>
        </div>
    </div>
    <div class="row table-responsive">
        <div class="col-sm-12" style="padding: 0;">
            <table class="table">
                <thead style="background-color: #14213D; color: #fff;">
                    <tr>
                        <th scope="col" style="border-top-right-radius:5px;">#</th>

                        <th scope="col">اسم المستخدم</th>
                        <th scope="col">البريد الإلكترونى </th>
                        <th scope="col">الصلاحية </th>
                        <th scope="col">القسم </th>
                        <th scope="col">تعديل </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of (users| userFilter:search); let i = index">

                        <th scope="row"> {{i+1}} </th>
                        <td> {{u.userName}} </td>
                        <td> {{u.email}} </td>
                        <td> {{u.roles.toString()}} </td>

                        <td *ngIf="u.department"> {{u.department.name}} </td>
                        <td *ngIf="!u.department"> لا يوجد</td>
                        <td>
                            <i class="btn btn-success fa fa-edit" (click)="editMyUser(u.id)"></i>
                        </td>


                    </tr>

                </tbody>
            </table>
            <h1 *ngIf="(users| userFilter:search)<1" style="text-align: center;">
                ! Not Found
            </h1>
        </div>
    </div>
</div>


<app-loader *ngIf="load"></app-loader>