<div class="profile-card ">
    <div class="row cover">
        <div class="col-sm-12">
            <div class="row">
                <!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGqeiMvcMA8ATx6McIgv0QgGq9njL6_9Q9Ww&usqp=CAU -->
                <!-- https://cdn.dribbble.com/users/1577045/screenshots/4914645/dribble_pic.png?compress=1&resize=400x300 -->
                <img [src]="prof.img" alt="">

            </div>
        </div>
    </div>

    <div class="row content  justify-content-between" style="margin-top: 8%;">

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <p>{{prof.name}}</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p> {{prof.degree}} </p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>{{prof.depart}}</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>{{prof.position}} </p>
                </div>
            </div>
        </div>


    </div>
</div>
