<div class="container-fluid" dir="rtl">
    <div class="container tc">
        <div class="top-card col-sm-12">
            <div class="row">
                <div class="col-sm-2">
                    <img [src]="user.userData.imagePath" alt="الصورة الشخصية">
                </div>
                <div class="col-sm-1" style="padding: 0;"></div>
                <div class="col-sm-8">
                    <p>{{user.userData.arabicName}}</p>
                    <p> {{user.email}} </p>
                    <p> {{user.department.name}} </p>
                    <p> {{user.userData.title}} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container t ">
        <div class="tabs col-sm-12">
            <div class="row">
                <div class="tab col-sm-2" (click)="goTo('data')">
                    البيانات
                </div>
                <div class="tab col-sm-2" (click)="goTo('sub')">
                    المواد
                </div>
                <div class="tab col-sm-2">
                    جدول المحاضرات
                </div>
                <div class="tab col-sm-2">
                    جدول الامتحانات
                </div>
                <div class="tab col-sm-2">
                    الدرجات
                </div>
            </div>
        </div>
    </div>
    <div class="container c">
        <div class="content col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>