<div class="container-fluid" dir="rtl">
    <div class="container tc">
        <div class="top-card col-sm-12">
            <div class="row">
                <div class="col-sm-2">
                    <img src="https://images.unsplash.com/photo-1537816329877-61e16367d627?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njd8fHByb2ZpbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="الصورة الشخصية">
                </div>
                <div class="col-sm-8">
                    <p>اسم المستخدم</p>
                    <p>رتبة المستخدم و وظيفته</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container t ">
        <div class="tabs col-sm-12">
            <div class="row">
                <div class="tab col-sm-2">
                    عنوان الجزء
                </div>
                <div class="tab col-sm-2">
                    عنوان الجزء
                </div>
                <div class="tab col-sm-2">
                    عنوان الجزء
                </div>
                <div class="tab col-sm-2">
                    عنوان الجزء
                </div>
                <div class="tab col-sm-2">
                    عنوان الجزء
                </div>
                <div class="tab col-sm-2">
                    عنوان الجزء
                </div>
            </div>
        </div>
    </div>
    <div class="container c">
        <div class="content col-sm-12">
            المحتوى
            <router-outlet></router-outlet>
        </div>
    </div>
</div>