$mainColor: #14213D;
.container-fluid {
    background-color: #EDEDED;
    text-align: right;
    padding-top: 5%;
    padding-bottom: 7%;
    .container {
        background-color: #fff;
        border-radius: 5px;
    }
    .tc {
        padding: 0;
        margin-bottom: 3%;
        .top-card {
            text-align: right;
            .row {
                // justify-content: center;
                .col-sm-2 {
                    padding: 2%;
                    padding-left: 0;
                    // padding-bottom: 2%;
                    img {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                    }
                    // @media (min-width:575px) {
                    //     img {
                    //         width: 90px;
                    //         height: 90px;
                    //     }
                    // }
                }
                .col-sm-8 {
                    padding: 4%;
                    padding-right: 0;
                    p {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 1%;
                    }
                }
            }
        }
    }
    .t {
        padding: 0;
        margin-bottom: 5px;
        .tabs {
            .row {
                .tab {
                    padding: 2%;
                    font-weight: bold;
                    border-radius: 5px;
                    text-align: center;
                }
                .tab:hover,
                .active {
                    background-color: $mainColor;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
    .c {
        font-size: 20px;
    }
}