$mainColor: #14213D;
.container {
    margin-top: 3%;
    margin-bottom: 3%;
}

.cover {
    width: 100%;
    position: relative;
    overflow: hidden;
    .photo {
        overflow: hidden;
        img {
            width: 100%;
            height: 350px;
        }
    }
    .banner {
        position: absolute;
        top: 60%;
        right: 0;
        text-align: right;
        z-index: 1;
        width: 100%;
        background-color: #ffffff8c;
        padding: 1%;
        p {
            color: rgba(20, 45, 20, 0.815);
            font-size: 35px;
            font-weight: bold;
        }
    }
}

.container {
    .rightnav {
        box-shadow: 1px 1px 10px 5px #F7F7F7;
        border-radius: 8px;
        padding: 1% 2% 1% 2%;
        text-align: right;
        h2 {}
        ul {
            padding-right: 6%;
            list-style-type: square;
            li {
                padding: 2%;
            }
        }
    }
}

// .dep-nav {
//     padding: 1%;
//     border: 1px solid $mainColor;
//     color: $mainColor;
//     border-radius: 5px;
//     text-align: center;
// }
// .dep-nav:hover {
//     background-color: $mainColor;
//     color: #fff;
//     cursor: pointer;
//     -moz-animation: bgColor 0.2s linear;
//     -webkit-animation: bgColor 0.2s linear;
//     animation: bgColor 0.2s linear;
//     box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.521), 0 12px 22px 0 rgba(0, 0, 0, 0.397);
//     transition: box-shadow 0.5s linear;
//     font-weight: bold;
// }
// .empty {
//     margin-top: 2%;
//     margin-bottom: 2%;
//     background-color: $mainColor;
//     color: #fff;
//     border-radius: 5px;
//     box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.521), 0 12px 22px 0 rgba(0, 0, 0, 0.397);
// }
// @-moz-keyframes bgColor {
//     from {
//         background-color: #fff;
//         color: $mainColor;
//     }
//     to {
//         background-color: $mainColor;
//         color: #fff;
//     }
// }
// @-webkit-keyframes bgColor {
//     from {
//         background-color: #fff;
//         color: $mainColor;
//     }
//     to {
//         background-color: $mainColor;
//         color: #fff;
//     }
// }
// @keyframes bgColor {
//     from {
//         background-color: #fff;
//         color: $mainColor;
//     }
//     to {
//         background-color: $mainColor;
//         color: #fff;
//     }
// }
