<!-- <div class="container" style="margin-top: 5%;" dir="rtl" lang="ar" *ngIf="departmentContent.length != 0 ; else empty">


    <div class="row justify-content-between" style="margin-bottom: 2%; margin-top: 2%;">
        <div class="col-sm-1 dep-nav" *ngFor="let dep of departmentContent" (click)="displayContent(dep)">
            {{dep.head}}
        </div>
    </div>

    <app-display-dep-content></app-display-dep-content>

</div>



<ng-template #empty>
    <div class="container" dir="rtl" lang="ar">
        <div class="row justify-content-center">
            <div class="col-sm-5 empty" style="text-align: center; padding: 3%; font-weight: bold; ">
                يجب أن تختار قسم محدد
            </div>
        </div>
        <div class="row justify-content-between" style="margin-bottom: 15%; margin-top: 1%;">
            <div class="col-sm-2 dep-nav" *ngFor="let dep of departments; let i = index" (click)="display(dep)">
                {{dep.name}}
            </div>
        </div>
    </div>
</ng-template> -->

<div class="container" style="padding: 0;" dir="rtl" lang="ar" *ngIf="!load">
    <div class="cover">
        <div class="photo">
            <img [src]="department.image" alt="">
        </div>
        <div class="banner">
            <p>
                {{department.name}}
            </p>
        </div>
    </div>
</div>
<div class="container" dir="rtl" lang="ar" *ngIf="!load">
    <div class="row">
        <div class="rightnav col-sm-4">
            <h3>
                {{department.name}}
            </h3>
            <hr class="orange">
            <br>
            <br>
            <!-- about -->
            <div class="row  justify-content-right" [ngClass]="{'active': num == 1}" (click)="goTo('about',1)">
                <div class="col-sm-1">
                    <i class="fa fa-caret-left"></i>
                </div>

                <div class="col-sm-10">
                    <p>عن القسم</p>
                </div>
            </div>
            <hr>
            <!-- Boss Word -->
            <div class="row justify-content-right" [ngClass]="{'active': num == 2}" (click)="goTo('bossword',2)">
                <div class="col-sm-1">
                    <i class="fa fa-caret-left"></i>
                </div>

                <div class="col-sm-10">
                    <p>كلمة رئيس القسم</p>
                </div>
            </div>
            <hr>
            <!-- Boss -->
            <div class="row justify-content-right" [ngClass]="{'active': num == 3}" (click)="goTo('boss',3)">
                <div class="col-sm-1">
                    <i class="fa fa-caret-left"></i>
                </div>

                <div class="col-sm-10">
                    <p>رئيس القسم</p>
                </div>
            </div>
            <hr>
            <!-- sight  -->
            <div class="row justify-content-right" [ngClass]="{'active': num == 4}" (click)="goTo('sight',4)">
                <div class="col-sm-1">
                    <i class="fa fa-caret-left"></i>
                </div>

                <div class="col-sm-10">
                    <p>رؤية القسم</p>
                </div>
            </div>
            <hr>
            <!-- message -->
            <div class="row justify-content-right" [ngClass]="{'active': num == 5}" (click)="goTo('message',5)">
                <div class="col-sm-1">
                    <i class="fa fa-caret-left"></i>
                </div>

                <div class="col-sm-10">
                    <p>رسالة القسم</p>
                </div>
            </div>
            <hr>
            <!-- goal -->
            <div class="row justify-content-right" [ngClass]="{'active': num == 6}" (click)="goTo('goal',6)">
                <div class="col-sm-1">
                    <i class="fa fa-caret-left"></i>
                </div>

                <div class="col-sm-10">
                    <p>هدف القسم</p>
                </div>
            </div>
            <hr>

            <!-- staff -->
            <div class="row justify-content-right" [ngClass]="{'active': num == 7}" (click)="goTo('staff',7)">
                <div class="col-sm-1">
                    <i class="fa fa-caret-left"></i>
                </div>

                <div class="col-sm-10">
                    <p>أعضاء هيئة التدريس بالقسم</p>
                </div>
            </div>
            <hr>
            <!-- subject -->
            <div class="row justify-content-right" [ngClass]="{'active': num == 8}" (click)="goTo('subject',8)">
                <div class="col-sm-1">
                    <i class="fa fa-caret-left"></i>
                </div>

                <div class="col-sm-10">
                    <p>مواد القسم</p>
                </div>
            </div>
            <hr>
            <!-- labs -->
            <div class="row justify-content-right" [ngClass]="{'active': num == 9}" (click)="goTo('labs',9)">
                <div class="col-sm-1">
                    <i class="fa fa-caret-left"></i>
                </div>

                <div class="col-sm-10">
                    <p>معامل القسم</p>
                </div>
            </div>
            <hr>
            <!-- council -->
            <div class="row justify-content-right" [ngClass]="{'active': num == 10}" (click)="goTo('council',10)">
                <div class="col-sm-1">
                    <i class="fa fa-caret-left"></i>
                </div>

                <div class="col-sm-10">
                    <p>مجالس القسم</p>
                </div>
            </div>


        </div>
        <div class="content col-sm-8">
            <app-about-department *ngIf='init'></app-about-department>
            <router-outlet *ngIf='!init'></router-outlet>
        </div>
    </div>
</div>

<app-loader *ngIf="load"></app-loader>