<!-- <div class="container" style="margin-top: 5%;" dir="rtl" lang="ar" *ngIf="departmentContent.length != 0 ; else empty">

    <div class="row justify-content-between" style="margin-bottom: 2%; margin-top: 2%;">
        <div class="col-sm-1 dep-nav" *ngFor="let dep of departmentContent" (click)="displayContent(dep)">
            {{dep.head}}
        </div>
    </div>

    <app-display-dep-content></app-display-dep-content>

</div>



<ng-template #empty>
    <div class="container" dir="rtl" lang="ar">
        <div class="row justify-content-center">
            <div class="col-sm-5 empty" style="text-align: center; padding: 3%; font-weight: bold; ">
                يجب أن تختار قسم محدد
            </div>
        </div>
        <div class="row justify-content-between" style="margin-bottom: 15%; margin-top: 1%;">
            <div class="col-sm-2 dep-nav" *ngFor="let dep of departments; let i = index" (click)="display(dep)">
                {{dep.name}}
            </div>
        </div>
    </div>
</ng-template> -->
