.the-whole-body {
    margin-top: 2%;
    margin-bottom: 2%;
}

.naving {
    background-color: rgba(219, 219, 219, 0.61);
    font-size: large;
    font-weight: bold;
    padding: 2%;
}

.edit {
    padding: 2%;
    i {
        font-size: larger;
    }
    i:hover {
        cursor: pointer;
        color: #FCA311;
        // #254ca0
        // box-shadow: 0 4px 8px 0 #14213da4;
    }
}

$mainColor: #14213D;
.btnn {
    padding: 2%;
    border: 1px solid $mainColor;
    width: 20%;
    color: $mainColor;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.5 ease;
}

.btnn:hover {
    background-color: $mainColor;
    color: white;
    cursor: pointer;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.404), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.5s linear;
}