$mainColor: #14213D;
$secondColor: #FCA311;
h3 {
    text-align: right;
}

.orange {
    margin-top: 5px;
    width: 12.5%;
    padding: 2px;
    background-color: $secondColor;
    float: right;
    border-radius: 15px;
}

.content {
    margin-top: 10%;
    text-align: right;
    font-size: 20px;
    word-wrap: break-word;
    width: 100%;
    box-sizing: border-box;
}

.h {
    background-color: #14213D;
    color: #fff;
    padding: 3%;
    font-size: 20px;
    font-weight: bold;
    border-right: 1px solid #fff;
}

.b {
    padding: 2%;
    border-left: 1px solid #14213d;
}