$mainColor: #14213D;
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

label {
    font-weight: 300;
    font-size: 30px;
}

select {
    cursor: pointer;
}

.error {
    // margin-top: 2%;
    // display: inline;
    padding: 1%;
    color: red;
    font-size: medium;
    text-align: right;
}

.submit-btn {
    border: 1px solid $mainColor;
    border-radius: 5px;
    padding: 2%;
    background-color: $mainColor;
    color: #fff;
    padding-right: 5%;
    padding-left: 5%;
    font-weight: bold;
}

.submit-btn:hover {
    cursor: pointer;
    box-shadow: 0 8px 10px 0 #14213d9c, 0 6px 20px 0 #14213dd5;
    padding-left: 8%;
    padding-right: 8%;
    transition: all 0.7s linear;
}

.btn {
    padding: 2%;
    padding-right: 5%;
    padding-left: 5%;
    font-weight: bold;
}

.text {
    text-align: right;
    font-size: large;
    font-weight: bold;
    padding: 1%;
}

.check:hover {
    cursor: pointer;
}

.b1 {
    text-align: center;
    word-wrap: break-word;
    padding: 2%;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(7, 81, 218);
}

.b1:hover {
    cursor: pointer;
    background-color: rgb(26, 97, 228);
}

.b2 {
    text-align: center;
    word-wrap: break-word;
    padding: 2%;
    border-radius: 5px;
    color: #fff;
    background-color: crimson;
}

.b2:hover {
    cursor: pointer;
    background-color: rgb(230, 64, 97);
}