<div class="card col-md-10">
    <div class="card-image view zoom overlay mt-2">
        <img class="img-fluid " [src]="card.imagePath" alt="card image" width="100%" height="120px">
        <div class="mask flex-center rgba-blue-light" dir="rtl" lang="ar">
            <a (click)="goToNews(id)" class="white-text"> مشاهدة المزيد </a>
        </div>
    </div>
    <div class="col-sm-12 card-content mt-2">
        <p>
            {{card.createdAt}}
        </p>
        <hr mr>

        <h5 style="text-overflow: ellipsis; "> {{card.description}} </h5>
    </div>
    <hr class="divider">

    <div class="col-sm-5 read-more offset-sm-7" dir="rtl">
        <a (click)="goToNews(id)">
               قراءةالمزيد
          </a>
    </div>

</div>