$mainColor: #14213D;
$secondColor: #85045c;
.pagination {
    display: inline-block;
    font-size: large;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

a.active {
    background-color: $mainColor;
    color: white;
    border-radius: 5px;
}

a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
