<div class="col-sm-12" dir="rtl" *ngIf="!load">
    <br>
    <br><br><br><br>
    <!-- Labs Form -->
    <form [formGroup]="postionForm" (ngSubmit)="onSubmit()">


        <!-- name -->
        <div class="row ">
            <div class="col-sm-3" style="text-align: right;">
                <label for="name">اسم المنصب الإداري </label> :
            </div>
            <input type="text" formControlName="name" id="name" class="col-sm-7 form-control form-control-lg">
            <span class="error col-sm-2" *ngIf="postionForm.get('name').invalid && postionForm.get('name').touched">
        <span class="error" *ngIf="postionForm.get('name').errors['required']">
          رجاء أدخل إسم المنصب الإداري
        </span>

            </span>
        </div>
        <br>

        <br>
        <br>
        <br>


        <!-- submit or edit&delete -->

        <!-- submit -->
        <div class="form-group row justify-content-center" style="margin-top:8%;" *ngIf="!edit ; else inEdit">
            <button type="submit" class="submit-btn" [disabled]="postionForm.invalid">تأكيد</button>
        </div>
        <!-- edit & delete -->
        <ng-template #inEdit>
            <div class="form-group row justify-content-between" style="margin-top:8%;">
                <button type="submit" class="submit-btn" [disabled]="postionForm.invalid">تعديل</button>
                <button type="button" class="btn btn-danger" (click)="ondelete()">مسح</button>
            </div>
        </ng-template>
        <br>
    </form>
</div>

<app-loader *ngIf="load"></app-loader>
<app-confirm-deletion *ngIf="delete" content="المعمل" (cancel)="onCancel()" (res)="deletePostion(id)"></app-confirm-deletion>
