.statistics {
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.statistics-head {
    font-weight: bold;
    padding-top: 5%;
    margin-bottom: 5%;
}

.statistics-body {
    padding-bottom: 3%;
}

.sc {
    color: #FCA311;
}
