<div class="container-fluid mt-4 mb-4">
    <div class="card col-sm-3">
        <div class="card-image view overlay mt-2">
            <img class="img-fluid " src="{{cards[0].img}}" alt="card image">
            <div class="mask flex-center rgba-blue-light">
                <a class="white-text"> see more... </a>
            </div>
        </div>
        <div class="col-sm-12 card-content mt-2">
            <h3>
                {{cards[0].title}}
            </h3>
            <hr mr>
            <p>{{cards[0].desc}}</p>
        </div>
        <div class="col-sm-12 read-more pb-3">
            <a (click)="goTo(cards[0].link)" class="float-right">
              READ MORE >>
            </a>
        </div>
    </div>
</div>