<div class="row  main-row">
    <div class="col-sm-5 ">
        <div class="card-image view zoom overlay mt-2">
            <img class="img-fluid" [src]="event.img" alt="card image">
            <div class="mask flex-center rgba-blue-light">
                <a (click)="goToEvents(id)" class="white-text" style="font-weight: bold;">مشاهدة المزيد  </a>
            </div>
        </div>
    </div>
    <div class="col-sm-7  event-right">
        <div class="col-sm-12 event-content">
            <h3 class="event-title">
                {{event.title}}
            </h3>

            <p class="event-desc"> {{event.desc}} </p>
            <div class="button col-sm-5 offset-sm-7" (click)="goToEvents(id)">
                قراءة المزيد

            </div>
        </div>


    </div>


</div>
