<ul class="navbar-nav ml-auto">
    <li class="nav-item ">
        <a class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="envelope"></mdb-icon> تواصل معنا<span class="sr-only">(current)</span></a>
    </li>
    <li (click)="goTo('loginForm')" class="nav-item" style="border: 1px solid #fff; border-radius: 5px;" *ngIf="!login ; else logged">
        <a class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="cat"></mdb-icon> تسجيل الدخول</a>
    </li>

    <!-- Dropdown -->
    <ng-template #logged>
        <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <mdb-icon fas icon="user"></mdb-icon> الملف الشخصي<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect>حسابى</a>
                <a *ngIf="admin" class="dropdown-item waves-light" (click)="goTo('dash')" mdbWavesEffect>لوحة القيادة</a>
                <a class="dropdown-item waves-light" mdbWavesEffect>تسجيل الخروج</a>
            </div>
        </li>
    </ng-template>

</ul>
