$mainColor: #14213D;
.table-responsive {
    border-radius: 5px;
    text-align: right;
    box-shadow: 0 8px 10px 0 rgba(75, 75, 75, 0.473), 0 6px 20px 0 rgba(82, 82, 82, 0.37);
}

.add {
    border-radius: 5px;
    padding: 1%;
    color: #fff;
    background-color: #14213D;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1%;
    .text {
        padding-top: 1%;
    }
}

.add:hover {
    cursor: pointer;
    background-color: #14213dc4;
}

.b {
    font-weight: 400;
    font-size: 19px;
    padding-right: 1%;
    .back {
        background-color: #14213D;
        padding: 5%;
        border-radius: 5px;
        height: 100%;
        cursor: pointer;
        margin-left: 0;
    }
    .back:hover {
        cursor: pointer;
        background-color: #14213dc4;
    }
    color: #fff;
    text-align: center;
    margin-bottom: 1%;
}
