<br><br>
<div class="row">
    <div class="col-sm-4">
        الاسم بالعربي
    </div>
    <div class="col-sm-8">
        {{user.userData.arabicName}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        الاسم بالإنجليزي
    </div>
    <div class="col-sm-8">
        {{user.userData.englishName}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        المسمى الوظيفي
    </div>
    <div class="col-sm-8">
        {{user.userData.title}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        رقم الهاتف
    </div>
    <div class="col-sm-8">
        {{user.userData.phoneNumber}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        الرقم الأكاديمي
    </div>
    <div class="col-sm-8">
        {{user.userData.academicNumber}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        البريد الإلكتروني
    </div>
    <div class="col-sm-8">
        {{user.email}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        تاريخ الميلاد
    </div>
    <div class="col-sm-8">
        {{user.userData.dateOfBirth}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        اسم المستخدم
    </div>
    <div class="col-sm-8">
        {{user.userName}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        نبذة عنى
    </div>
    <div class="col-sm-8">
        {{user.userData.about}}
    </div>
</div>
<br><br>