/* You can add global styles to this file, and also import other style files */

$mainColor: #14213D;
::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(216, 208, 208);
    border-radius: 12px;
}


/* Track */

::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: $mainColor;
    border-radius: 10px;
}