<div class="col-sm-10" dir="rtl" *ngIf="!load">
    <form [formGroup]="newsFrom" (ngSubmit)="onSubmit()">

        <!-- title -->
        <div class="form-group">
            <label for="title">عنوان الخبر</label> :
            <input type="text" formControlName="title" id="title" class="form-control form-control-lg">
            <span class="error" *ngIf="newsFrom.get('title').invalid && newsFrom.get('title').touched">
              <span class="error" *ngIf="newsFrom.get('title').errors['required']">
                رجاء أدخل العنوان
              </span>
            <span class="error" *ngIf="newsFrom.get('title').errors['maxlength']">
                تخطيت عدد الحروف المسموح به
              </span>
            </span>
        </div>

        <!-- date -->
        <div class="form-group">
            <label for="date">تاريخ الخبر</label> :
            <input type="date" id="date" formControlName="date" class="form-control form-control-lg">
            <span class="error" *ngIf="newsFrom.get('date').invalid && newsFrom.get('date').touched">
              رجاء أدخل التاريخ
            </span>
        </div>

        <!-- image -->
        <div class="form-group">
            <label for="image">صورة الخبر</label> :
            <input type='file' accept="image/*" (change)="onImageChange($event)" id="image" style="display:none" formControlName="imagePath">
            <button style="display:block;" type="button" class="file-btn" onclick="document.getElementById('image').click()">
              اختر صورة
            </button>

            <span class="file-value">{{newsFrom.get('imagePath').value}}</span>
        </div>

        <div class="form-group" *ngIf="imgSrc">
            <img [src]="imgSrc" style="height: 300px; width:500px ; border-radius: 20px;">
        </div>
        <!-- description -->
        <div class="form-group">
            <label for="desc">وصف الخبر</label> :
            <textarea id="desc" rows="15" formControlName="description" class="form-control form-control-lg"></textarea>
            <span class="error" *ngIf="newsFrom.get('description').invalid && newsFrom.get('description').touched">
              رجاء أدخل وصف الخبر
            </span>
        </div>

        <!-- submit -->
        <div class="form-group row justify-content-between" style="margin-top:8%;" *ngIf="!edit ; else inEdit">
            <button type="submit" class="submit-btn" [disabled]="newsFrom.invalid">تأكيد</button>
        </div>

        <!-- edit & delete -->
        <ng-template #inEdit>
            <div class="form-group row justify-content-between" style="margin-top:8%;">
                <button type="submit" class="submit-btn" [disabled]="newsFrom.invalid">تعديل</button>
                <button type="button" class=" btn btn-danger" (click)="ondelete()">مسح</button>
            </div>
        </ng-template>
        <br>
    </form>
</div>
<app-loader *ngIf="load"></app-loader>
<app-confirm-deletion *ngIf="delete" content="الخبر" (cancel)="onCancel()" (res)="deleteNews(id)"></app-confirm-deletion>
