<div class="container-fluid" style="background-color: #E9E9E9; padding-top: 1%; padding-bottom: 5%;" *ngIf="!load">
    <div class="container the-whole-body" dir="rtl" lang="ar">

        <div class="col-sm-8" style="background-color: #fff; padding-top: 4%; padding-right: 3%; padding-left: 3%; padding-bottom: 6%; border-radius: 5px;">
            <div class="row naving justify-content-between" style="border-radius: 5px;">
                <div class="col-sm-5" style="text-align: right; padding: 2%;">
                    <a style="margin-left:15px ;" id="h" (click)="goto('home')">الرئيسية</a>
                    <i style="margin-left:15px ; padding-top: 5px" class="fas fa-angle-double-left "></i>
                    <a style="color:#FCA311 ">الأخبار</a>
                </div>

            </div>
            <div class="row" style="  margin-top: 4%;  overflow:auto;">
                <h3 style="font-weight: bold; text-align: right;"> {{news.title}} </h3>
            </div>
            <div class="row" style="  margin-top: 5%;  ">
                <p> تاريخ النشر : {{news.createdAt}} </p>
            </div>
            <div class="row" style="  margin-top: 4%; overflow: hidden; border-radius: 5px;">
                <img [src]="news.imagePath" alt="hhh" width="100%">
            </div>
            <div class="row" style="  margin-top: 5%; text-align: right; ">
                <p style="word-break: break-word;"> {{news.description}}</p>
            </div>
            <div class="row" style="  margin-top: 5%; font-weight: bold; ">
                <p> صور إضافية :- </p>
            </div>
            <div class="row justify-content-around" style="  margin-top: 5%;  ">
                <div class=" more-photos">
                    <img src="https://cdn131.picsart.com/275433038015201.jpg?c256x256" alt="">
                </div>
                <div class=" more-photos">
                    <img src="https://cdn131.picsart.com/275433038015201.jpg?c256x256" alt="">
                </div>
                <div class=" more-photos">
                    <img src="https://cdn131.picsart.com/275433038015201.jpg?c256x256" alt="">
                </div>
            </div>
            <!-- <div class="row justify-content-between" style="margin-top: 4%;">
                <div class="btnn" (click)="goTo(-1)">
                    السابق
                </div>
                <div class="btnn" (click)="goTo(1)">
                    التالي
                </div>
            </div> -->

        </div>




    </div>

</div>

<app-loader *ngIf="load"></app-loader>