<div class="col-sm-12" dir="rtl" *ngIf="!load">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <!-- nameAr -->
        <div class="row ">
            <div class="col-sm-3" style="text-align: right;">
                <label for="nameAr">الاسم باللغة العربية</label> :
            </div>
            <input type="text" placeholder="الاسم كما فى البطاقة الشخصية" formControlName="nameAr" id="nameAr" class="col-sm-7 form-control form-control-lg">
            <span class="error col-sm-2" *ngIf="userForm.get('nameAr').invalid && userForm.get('nameAr').touched">
          <span class="error" *ngIf="userForm.get('nameAr').errors['required']">
            رجاء أدخل الاسم
          </span>

            </span>
        </div>
        <br>
        <!-- nameEn -->
        <div class="row ">
            <div class="col-sm-3" style="text-align: right;">
                <label for="nameEn">الاسم باللغة الإنجليزية</label> :
            </div>
            <input type="text" formControlName="nameEn" id="nameEn" class="col-sm-7 form-control form-control-lg">
            <span class="error col-sm-2" *ngIf="userForm.get('nameEn').invalid && userForm.get('nameEn').touched">
        <span class="error" *ngIf="userForm.get('nameEn').errors['required']">
          رجاء أدخل الاسم
        </span>

            </span>
        </div>
        <br>
        <!-- phone -->
        <div class="row ">
            <div class="col-sm-3" style="text-align: right;">
                <label for="phone">رقم الهاتف</label> :
            </div>
            <input type="tel" formControlName="phone" id="phone" class="col-sm-7 form-control form-control-lg">
            <span class="error col-sm-2" *ngIf="userForm.get('phone').invalid && userForm.get('phone').touched">
      <span class="error" *ngIf="userForm.get('phone').errors['required']">
        رجاء أدخل رقم الهاتف
      </span>

            </span>
        </div>
        <br>
        <!-- dataOfBirth -->
        <div class="row">
            <div class="col-sm-3" style="text-align: right;">
                <label for="dataOfBirth">تاريخ الميلاد  </label> :
            </div>
            <input type="date" formControlName="dataOfBirth" id="dataOfBirth" class="col-sm-7 form-control form-control-lg">
            <span class="error col-sm-2" *ngIf="userForm.get('dataOfBirth').invalid && userForm.get('dataOfBirth').touched">
                    <span class="error" *ngIf="userForm.get('dataOfBirth').errors['required']">
                      رجاء أدخل تاريخ الميلاد
                    </span>

            </span>
        </div>
        <br>
        <!--academicNumber  -->
        <div class="row">
            <div class="col-sm-3" style="text-align: right;">
                <label for="academicNumber">الرقم الأكاديمي</label> :
            </div>
            <input type="text" formControlName="academicNumber" id="academicNumber" class="col-sm-7 form-control form-control-lg">

        </div>
        <br>
        <!-- about -->
        <div class="row">
            <div class="col-sm-3" style="text-align: right">
                <label for="about">نبذة</label> :
            </div>
            <textarea formControlName="about" id="about" class="col-sm-7 form-control form-control-lg"></textarea>
            <span class="error col-sm-2" *ngIf="
                userForm.get('about').invalid &&
                userForm.get('about').touched
              ">
              <span
                class="error"
                *ngIf="userForm.get('about').errors['required']"
              >
                رجاء أدخل  تبذة
              </span>
            </span>
        </div>
        <br />
        <!-- role -->
        <div class="row ">
            <div class="col-sm-3" style="text-align: right;">
                <label for="role">الصلاحية</label> :
            </div>
            <ng-multiselect-dropdown [disabled]='edit' class="col-md-7" [placeholder]="'اختر الصلاحية'" [settings]="roledropdownSettings" [data]="roleList" formControlName="role" id="role">
            </ng-multiselect-dropdown>
            <span class="error col-sm-2" *ngIf="userForm.get('role').invalid && userForm.get('role').touched">
            <span class="error" *ngIf="userForm.get('role').errors['required']">
              رجاء اختر الصلاحية
            </span>
            </span>
        </div>
        <br>




        <!-- department -->
        <div class="row" *ngIf="userForm.get('role').value != 'admin'">
            <div class="col-sm-3" style="text-align: right;">
                <label for="department">القسم</label> :
            </div>
            <ng-multiselect-dropdown class="col-md-7" [placeholder]="'اختر القسم'" [settings]="dropdownSettings" [data]="departmentsList" formControlName="department" id="department">
            </ng-multiselect-dropdown>

            <span class="error col-sm-2" *ngIf="userForm.get('department').invalid && userForm.get('department').touched">
          <span class="error" *ngIf="userForm.get('department').errors['required']">
            رجاء اختر القسم
          </span>
            </span>
        </div>
        <br>

        <!-- email  -->
        <div class="row ">
            <div class="col-sm-3" style="text-align: right;">
                <label for="email">البريد الإلكترونى</label> :
            </div>
            <input type="text" [disabled]="edit" formControlName="email" id="email" class="col-sm-7 form-control form-control-lg">
            <span class="error col-sm-2" *ngIf="userForm.get('email').invalid && userForm.get('email').touched">
          <span class="error" *ngIf="userForm.get('email').errors['required']">
            رجاء أدخل البريد الإلكترونى
          </span>

            </span>
        </div>
        <br>
        <!-- password -->
        <div class="row ">
            <div class="col-sm-3" style="text-align: right;">
                <label for="password">الرقم السري</label> :
            </div>
            <input type="text" [disabled]="edit" formControlName="password" id="password" class="col-sm-7 form-control form-control-lg">
            <span class="error col-sm-2" *ngIf="userForm.get('password').invalid && userForm.get('password').touched">
              <span class="error" *ngIf="userForm.get('password').errors['required']">
                 رجاء أدخل الرقم السري
              </span>
            <span class="error" *ngIf="userForm.get('password').errors['email']">
                هذا البريد غير صالح
              </span>
            </span>
        </div>
        <br>


        <!-- image -->
        <div class="row">
            <div class="col-sm-3" style="text-align: right;">
                <label for="file">الصورة الشخصية</label> :
            </div>
            <input type='file' accept="image/*" (change)="onImageChange($event)" id="image" style="display:none">
            <button type="button" class="file-btn" onclick="document.getElementById('image').click()">
                          اختر صورة
                  </button>
            <div class="col-sm-5" *ngIf="imgSrc">
                <img [src]="imgSrc" style="height: 100px; width:100px ; border-radius: 50%;">
            </div>
        </div>
        <br>

        <!-- submit -->
        <div class="form-group row justify-content-center" style="margin-top:8%;" *ngIf="!edit ; else inEdit">
            <button type="submit" class="submit-btn" [disabled]="userForm.invalid">تأكيد</button>
        </div>
        <!-- edit & delete -->
        <ng-template #inEdit>
            <div class="form-group row justify-content-between" style="margin-top:8%;">
                <button type="submit" class="submit-btn" [disabled]="userForm.invalid">تعديل</button>
                <button type="button" class="btn btn-danger" (click)="ondelete()">مسح</button>
            </div>
        </ng-template>
        <br>

    </form>
</div>

<app-loader *ngIf="load"></app-loader>
<app-confirm-deletion *ngIf="delete" content="المستخدم" (cancel)="onCancel()" (res)="deleteUser(id)"></app-confirm-deletion>