<div class="col-sm-12" dir="rtl" *ngIf="!load">

    <!-- Labs Form -->
    <form [formGroup]="labsForm" (ngSubmit)="onSubmit()">


        <!-- name -->
        <div class="row ">
            <div class="col-sm-3" style="text-align: right;">
                <label for="name">اسم المعمل </label> :
            </div>
            <input type="text" formControlName="name" id="name" class="col-sm-7 form-control form-control-lg">
            <span class="error col-sm-2" *ngIf="labsForm.get('name').invalid && labsForm.get('name').touched">
            <span class="error" *ngIf="labsForm.get('name').errors['required']">
              رجاء أدخل اسم المعمل
            </span>

            </span>
        </div>
        <br>
        <!-- roomNum -->
        <div class="row ">
            <div class="col-sm-3" style="text-align: right;">
                <label for="roomNum">رقم الغرفة</label> :
            </div>
            <input type="number" min="0" formControlName="roomNum" id="roomNum" class="col-sm-7 form-control form-control-lg">
            <span class="error col-sm-2" *ngIf="labsForm.get('roomNum').invalid && labsForm.get('roomNum').touched">
      <span class="error" *ngIf="labsForm.get('roomNum').errors['required']">
        رجاء أدخل رقم الغرفة
      </span>

            </span>
        </div>
        <br>

        <!-- description -->
        <div class="row">
            <div class="col-sm-3" style="text-align: right">
                <label for="description">الوصف</label> :
            </div>
            <textarea formControlName="description" id="description" class="col-sm-7 form-control"></textarea>
            <span class="error col-sm-2" *ngIf="
                labsForm.get('description').invalid &&
                labsForm.get('description').touched
                  ">
                <span
                  class="error"
                  *ngIf="labsForm.get('description').errors['required']"
                  >
                  رجاء أدخل الوصف
                </span>
            </span>
        </div>
        <br />
        <!-- department -->
        <div class="row">
            <div class="col-sm-3" style="text-align: right;">
                <label for="department">القسم</label> :
            </div>
            <ng-multiselect-dropdown class="col-md-7" [placeholder]="'اختر القسم'" [settings]="dropdownSettings" [data]="departmentsList" formControlName="department" id="department">
            </ng-multiselect-dropdown>
            <span class="error col-sm-2" *ngIf="labsForm.get('department').invalid && labsForm.get('department').touched">
              <span class="error" *ngIf="labsForm.get('department').errors['required']">
                رجاء اختر القسم
              </span>
            </span>
        </div>
        <br>

        <!-- submit -->
        <div class="form-group row justify-content-center" style="margin-top:8%;" *ngIf="!edit ; else inEdit">
            <button type="submit" class="submit-btn" [disabled]="labsForm.invalid">تأكيد</button>
        </div>
        <!-- edit & delete -->
        <ng-template #inEdit>
            <div class="form-group row justify-content-between" style="margin-top:8%;">
                <button type="submit" class="submit-btn" [disabled]="labsForm.invalid">تعديل</button>
                <button type="button" class="btn btn-danger" (click)="ondelete()">مسح</button>
            </div>
        </ng-template>
        <br>
    </form>
</div>

<app-loader *ngIf="load"></app-loader>
<app-confirm-deletion *ngIf="delete" content="المعمل" (cancel)="onCancel()" (res)="deleteLab(id)"></app-confirm-deletion>
